user@localhost ~ $ git clone https://github.com/rbu/generate_csr ; cd gen_csr
user@localhost ~/generate_csr $ openssl genrsa -out private.key 8192            # because... why not?
Generating RSA private key, 8192 bit long modulus
...
user@localhost ~/generate_csr $ ./generate_csr.py --batch --key private.key rbu.sh www.rbu.sh mail.rbu.sh
-----BEGIN CERTIFICATE REQUEST-----
MIIIoDCCBIgCAQAwHjELMAkGA1UEBhMCWFgxDzANBgNVBAMMBnJidS5zaDCCBCIw
...
AedjkA==
-----END CERTIFICATE REQUEST-----
